{{ 'gulp-faq.css' | asset_url | stylesheet_tag }}

<div {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="faq_header">
    <h3 class="faq_title">FAQ </h3>
    <div class="faq-squiggles">
    {%- render 'faq-squiggles' -%}
    </div>
</div>
<div id="faq" class="faq_container">
    {%- for block in section.blocks -%}
      <div class="faq_wrapper">
        {%- render 'icon-faq' -%}
        <p class="question">{{block.settings.question}}</p>
        <p class="answer">{{block.settings.answer}}</p>
      </div>
    {% endfor %}
</div>


{% schema %}
{
	"name": "FAQ",
	"tag": "section",
	"class": "faq-section",
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID for scroll"
    }
  ],
	"blocks": [
		{
			"type": "faq",
			"name": "Question",
			"limit": 6,
			"settings": [
				{
					"type": "text",
					"id": "question",
					"label": "Insert your Question here"
				},
				{
					"type": "text",
					"id": "answer",
					"label": "Insert the Answer here"
				}
			]
		}
	],
	"presets":[
		{
		   "name":"FAQ"
		}
	 ]
}
{% endschema %} 