{% if section.blocks.size > 0 or section.settings.heading != blank %}
  {{ 'gulp-press-banner.css' | asset_url | stylesheet_tag }}
  <div {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="page-width press-banner">
    {% if section.settings.heading != blank %}
      <div class="press-banner__heading" {% if section.blocks.size == 0 %}style="text-align:center;justify-content: center;"{% endif %}>
        {{ section.settings.heading }}
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="press-banner__items">
        {% for block in section.blocks %}
          <div class="press-banner__item">
            <img src="{{ block.settings.image |  img_url: "master"}}" alt="Press" >
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Press Banner",
  "tag": "section",
  "class": "spaced-section custom-spaced-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID for scroll"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Description"
    }
  ],
  "blocks": [
      {
        "name": "Press",
        "type": "press",
        "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
   }
  ],
  "presets": [
    {
      "name": "Press Banner"
    }
  ]
}
{% endschema %}
